<form action="{% url 'news:list-news' category %}" method="get">
    <label>
        <input type="checkbox" name="all">
        <p>Все категории</p>
    </label>
    <div>или</div>
    <div>
        {% for filter in filters %}
            <label>
                <input type="checkbox" name="filters" value="{{ filter.name }}"
                        {% if filter.name  in filters_checked %}
                       checked
                        {% endif %}
                >
                {% if filter.icon %}
                    <img src="{{ filter.icon.url }}">
                {% endif %}
                <p>{{ filter.title }}</p>
            </label>
        {% endfor %}
    </div>
    <button type="submit">Отправить</button>
</form>

