<ul class="">
    {% for item in items %}
        {% if item.url %}
            <li class="">
                <a class="" href="{{ item.url }}">{{ item.title }}</a>
            </li>

        {% elif item.anchor %}
            <li class="">
                <a class="" href="{{ item.get_anchor }}">{{ item.title }}</a>
            </li>

        {% else %}
            <li class="">
                <a class="" href="{{ item.content_object.get_absolute_url }}">{{ item.title }}</a>
            </li>
        {% endif %}
    {% endfor %}
</ul>