.idea

dist
db.sqlite3

venv

local_settings.py
prod_settings.py

**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

**/media/**
!**/media

.DS_Store
*.egg-info/
.installed.cfg
*.egg

build
source
home.rst
make.bat
Makefile
