.idea

dist
db.sqlite3

venv

local_settings.py
prod_settings.py

!/oms_cms/static/js
!/oms_cms/static/css
/oms_cms/static/*

**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

**/media/*


.DS_Store
*.egg-info/
.installed.cfg
*.egg

build
source
home.rst
make.bat
Makefile
