.idea

dist
db.sqlite3

venv

local_settings.py
prod_settings.py

/oms_cms/static/*
!/oms_cms/static/js
!/oms_cms/static/css
!/oms_cms/static/ckeditor
!/oms_cms/static/mptt
!/oms_cms/static/img
!/oms_cms/static/fonts
!/oms_cms/static/scss2
!/oms_cms/static/vendors


**/migrations/**
!**/migrations
!**/migrations/__init__.py
__pycache__/
*/__pycache__/
*.py[cod]
.pyc
*.pyc

/oms_cms/media/*


.DS_Store
*.egg-info/
.installed.cfg
*.egg

build
doc
home.rst
make.bat
Makefile

doc-dev
