global-include *.py *.js *.rst *.html *.css *.lyx *.pdf *.png *.gif *.jpg *.txt *.bat *.html *tpl *
recursive-include oms_cms/*
global-exclude *.pyc .gitignore
global-exclude __pycache__
global-exclude *.py[co]
global-exclude local_settings
global-exclude prod_settings
global-exclude manage.py

prune .git
prune __target__
prune dist
prune venv
prune .idea
prune oms_cms.egg-info
