<div class="config open">
    <div class="config-options">
        <h4>Colors</h4>
        <ul class="list-unstyled">
            <li><a class="changecolor green-text" href="#" title="Green color">Green</a></li>
            <li><a class="changecolor blue-text" href="#" title="Blue color">Blue</a></li>
            <li><a class="changecolor red-text" href="#" title="Red color">Red</a></li>
            <li><a class="changecolor orange-text" href="#" title="Orange color">Orange</a></li>
            <li><a class="changecolor navy-text" href="#" title="Navy color">Navy</a></li>
            <li><a class="changecolor dark-green-text" href="#" title="Darkgreen color">Dark Green</a></li>
        </ul>
    </div>
    <a class="show-theme-options" href="#"><i class="fa fa-wrench"></i></a>
</div>