{% load staticfiles menu_tags contact_tags %}
<footer class="footer-area p_120">
    <div class="container">
        <div class="row">
            <div class="col-lg-3  col-md-6 col-sm-6">
                <div class="single-footer-widget tp_widgets">
                    <h6 class="footer_title">Разработчикам</h6>
                    {% for_menu_item menu="developers" as items %}
                    <ul class="list">
                        {% for item in items %}
                            <li><a href="{{ item.url }}">{{ item.title }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-lg-5 col-md-6 col-sm-6">

            </div>
            {#            <div class="col-lg-3 col-md-6 col-sm-6 offset-lg-1">#}
            {#                <div class="single-footer-widget instafeed">#}
            {#                    <h6 class="footer_title">Instagram Feed</h6>#}
            {#                    <ul class="list instafeed d-flex flex-wrap">#}
            {#                        <li><img src="img/instagram/Image-01.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-02.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-03.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-04.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-05.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-06.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-07.jpg" alt=""></li>#}
            {#                        <li><img src="img/instagram/Image-08.jpg" alt=""></li>#}
            {#                    </ul>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="row footer-bottom d-flex justify-content-between align-items-center">
            <p class="col-lg-8 col-md-8 footer-text m-0">
                Copyright &copy; All rights reserved <a href="" target="_blank">WOMS Team</a>
            </p>
            <div class="col-lg-4 col-md-4 footer-social">
                {% for_contact name='Footer' as contact %}
                {% for link_soc in contact.get_contact_socnet %}
                    <a href="{{ link_soc.get_link_contact_soc }}">
                        {% if link_soc.link.icon_ui %}
                            <span class="{{ link_soc.link.icon_ui }}"></span>
                        {% elif link_soc.link.icon %}
                            <img src="{{ link_soc.link.icon.image.url }}">
                        {% else %}
                            {{ link_soc.link }}
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>
</footer>