{% load i18n lang_tags %}

<form action="{% url 'set_language' %}" method="post">{% csrf_token %}
    <input name="next" type="hidden" value="{{ redirect_to }}">
    <select name="language">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
                {{ language.name_local }} ({{ language.code }})
            </option>
        {% endfor %}
    </select>
    <input type="submit" value="Go">
</form>
<ul class="right">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#change-language">{{ lang.name }}{{ redirect_to }}</a>
        <ul class="dropdown-menu" role="menu">
            {% for lang in languages %}
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="{% change_lang lang=lang.slug %}">{{ lang.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </li>
    {% if context.user.is_authenticated %}
        <li><a href="/accounts/logout/">Выход</a></li>
    {% else %}
        <li><a href="/accounts/signup/">Регистрация</a></li>
        <li><a href="/accounts/login/">Вход</a></li>
    {% endif %}
</ul>