{% load static mptt_tags menu_tags lang_tags %}
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3 navbar-shrink" id="mainNav">
    <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="/">
            <img class="logo-oms" src="{% static 'img/oms-cms2.svg' %}" alt="oms cms">
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            {% for_menu_item menu="Main" as items %}
            <ul class="navbar-nav ml-auto my-2 my-lg-0">
                {% recursetree items %}
                    <li class="nav-item">
                        {% if node.url %}
                            <a class="nav-link js-scroll-trigger"
                               href="{{ node.url }}">{{ node.title }}</a>
                        {% elif node.anchor %}
                            <a class="nav-link js-scroll-trigger"
                               href="{{ node.get_anchor }}">{{ node.title }}</a>
                        {% else %}
                            <a class="nav-link js-scroll-trigger"
                               href="{{ node.content_object.get_absolute_url }}">{{ node.title }}</a>
                        {% endif %}
                        {% if not node.is_leaf_node %}
                            <ul class="children">
                                {{ children }}
                            </ul>
                        {% endif %}
                    </li>
                {% endrecursetree %}
                {% for_list_lang as languages %}
                <li class="nav-item dropdown">
                    <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" href="#change-language">
                        {% get_lang_code as lang_code %}{{ lang_code }}</a>
                    <ul class="dropdown-menu" role="menu">
                        {% for lang in languages %}
                            <li role="presentation">
                                <a role="menuitem" tabindex="-1"
                                   href="{% url 'languages:set_lang' %}?language={{ lang.0 }}">{{ lang.1 }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>