{% extends 'base.html' %}
{% load menu_tags seo_tags %}
{% block seo %}
    {% seo page %}
{% endblock seo %}

{% block content %}
    {% seo page %}
    {% menu_item menu='Верхнее' %}
    <div class="main2">
        <div class="menu">
            <ul>
                <li class="li-menu">
                    <a class="a-menu" href="https://vk.com/djangochannel">CS</a>
                </li>
                <li>
                    <a class="a-menu" href="#">DOTA</a>
                </li>
                <li>
                    <a class="a-menu" href="#">WoT</a>
                <li>
                <li>
                    <a class="a-menu" href="#">WoS</a>
                </li>
            </ul>
        </div>

        <div class="text">
            {{ page.text|safe }}
        </div>
    </div>


{% endblock content %}