{% extends 'base.html' %}
{% load menu_tags seo_tags lang_tags contact_tags %}
{% block seo %}
    {% seo page %}
{% endblock seo %}

{% block content %}
    {% menu_item menu='Верхнее' %}
    <div class="main2">
        <div class="menu">
            <ul>
                <li class="li-menu">
                    <a class="a-menu" href="https://vk.com/djangochannel">CS</a>
                </li>
                <li>
                    <a class="a-menu" href="#">DOTA</a>
                </li>
                <li>
                    <a class="a-menu" href="#">WoT</a>
                <li>
                <li>
                    <a class="a-menu" href="#">WoS</a>
                </li>
            </ul>
        </div>

        <div class="text">
            {{ page.text|safe }}
        </div>
    </div>
 <form action="{% url 'feedback_gen' %}" method="post">
     {% csrf_token %}
        {% gen_form as aform %}
     {{ aform }}
     <input type="submit" name="{{aform.prefix}}" value="Submit" />
{#    {{ bform.as_p }}#}
{#     <input type="submit" name="{{bform.prefix}}" value="Submit" />#}
 </form>
{% list_lang %}
{% endblock content %}