{% extends 'base.html' %}
{% block title %}Обратная связь{% endblock title %}
{% block content %}
    <div class="">
        <h1>Связаться с нами Вы можете через форму ниже:</h1>
        {% if messages %}
            {% for message in messages %}
                <p class='message'>{{ message }}</p>
            {% endfor %}
        {% endif %}

        <form action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Отправить</button>
        </form>
    </div>
{% endblock content %}