{% load staticfiles mptt_tags news_tags %}
<section class="home_banner_area blog_banner">
    {#    <div class="banner_inner d-flex align-items-center">#}
    {#        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"#}
    {#             data-background=""></div>#}
    {#        <div class="container">#}
    {#            <div class="blog_b_text text-center">#}
    {#                <h2>Dude You’re Getting <br/> a Telescope</h2>#}
    {#                <p>There is a moment in the life of any aspiring astronomer that it is time to buy that first</p>#}
    {#                <a class="white_bg_btn" href="#">View More</a>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
</section>
<section class="blog_categorie_area">
    <div class="container">
        <div class="row">
            {% for_category_list count=3 order="sort" as categories %}
            {% for category in categories %}
                <div class="col-lg-4">
                    <div class="categories_post">
                        {#                    <img src="{% static 'img/blog/cat-post/cat-post-3.jpg' %}" alt="post">#}
                        <div class="categories_details">
                            <div class="categories_text">
                                <a href="{{ category.get_absolute_url }}"><h5>{{category.name}}</h5></a>
                                <div class="border_line"></div>
                                <p>{{category.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>