{% extends 'base.html' %}
{% load lang_tags %}
{% block title %}
    {{ post.title }}
{% endblock title %}
{% block content %}
    <!-- Page Content -->
    <div id="toggle-animation" class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-12">
                <!-- Title -->
                <h1 class="mt-4">{{ post.title }}</h1>
                <!-- Author -->
                {% if post.author %}
                    <p class="lead">
                        by
                        <a href="#">{{ post.author }}</a>
                    </p>
                {% endif %}
                <hr>
                <!-- Date/Time -->
                <p>Опубликовано {{ post.created_date }}</p>
                <hr>
                <!-- Preview Image -->
                {% if post.photo %}
                    <div class="text-center">
                        <img class="img-fluid rounded" src="{{ post.photo.image.url }}"
                             alt="{{ post.title }}">
                    </div>
                {% endif %}
                <hr>
                <!-- Post Content -->
                {{ post.text|safe }}
                <hr>
                Просмотренно - {{ post.viewed }}
            </div>
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
    {% list_lang %}
{% endblock content %}