{% extends 'base.html' %}
{% load seo_tags news_tags %}
{% block seo %}
    {% seo post %}
{% endblock seo %}
{% block content %}
    <h1 class="mt-4">{{ post.title }}</h1>
    {% if post.author %}
        <p class="lead">
            by
            <a href="#">{{ post.author }}</a>
        </p>
    {% endif %}
    <hr>
    <p>Опубликовано {{ post.created_date }}</p>
    <hr>
    {% if post.image %}
        <div class="text-center">
            <img class="img-fluid rounded" src="{{ post.image.url }}"
                 alt="{{ post.title }}">
        </div>
    {% endif %}
    <hr>
    {{ post.text|safe }}
    <hr>
    Просмотренно - {{ post.viewed }}
    <hr>
    <form action="" method="post">
    {% csrf_token %}
    {{ form }}
    <button type="submit">
        Отправить
    </button>
    </form>
{% comments_show post.id %}
{% endblock content %}