{% load news_tags %}
<div class="col-md-3">
    <aside class="sidebar blog-sidebar">
        <div class="widget clearfix">
            <div class="body">
                <form role="search" class="search-form">
                    <div class="form-group">
                        <label class="sr-only" for="page-search">Type your search here</label>
                        <input id="page-search" class="search-input form-control" type="search"
                               placeholder="Enter Keywords...">
                    </div>
                    <button class="page-search-button">
			    <span class="fa fa-search">
			    	<span class="sr-only">Search</span>
			    </span>
                    </button>
                </form>
            </div>
        </div>
        <div class="widget">
            <h4>Категории</h4>
            <div class="body">
                <ul class="le-links">
                    {% for_category_list as categories %}
                    {% for category in categories %}
                        <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="widget">
            <div class="simple-banner">
                <a href="#"><img alt="" class="img-responsive" src="assets/images/blank.gif"
                                 data-echo="assets/images/banners/banner-simple.jpg"/></a>
            </div>
        </div>

        <div class="widget">
            <h4>Recent Posts</h4>
            <div class="body">
                <ul class="recent-post-list">
                    <li class="sidebar-recent-post-item">
                        <div class="media">
                            <a href="#" class="thumb-holder pull-left">
                                <img alt="" src="assets/images/blank.gif"
                                     data-echo="assets/images/recent-posts/1.jpg"/>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Coffee Time in Office </a></h5>
                                <div class="posted-date">July 12 2014</div>
                            </div>
                        </div>
                    </li>

                    <li class="sidebar-recent-post-item">
                        <div class="media">
                            <a href="#" class="thumb-holder pull-left">
                                <img alt="" src="assets/images/blank.gif"
                                     data-echo="assets/images/recent-posts/2.jpg"/>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Lets Meet The Whole Team of MediaCenter </a></h5>
                                <div class="posted-date">July 10 2014</div>
                            </div>
                        </div>
                    </li>

                    <li class="sidebar-recent-post-item">
                        <div class="media">
                            <a href="#" class="thumb-holder pull-left">
                                <img alt="" src="assets/images/blank.gif"
                                     data-echo="assets/images/recent-posts/3.jpg"/>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">The Best Wordpress Support 24/7 </a></h5>
                                <div class="posted-date">July 06 2014</div>
                            </div>
                        </div>
                    </li>

                    <li class="sidebar-recent-post-item">
                        <div class="media">
                            <a href="#" class="thumb-holder pull-left">
                                <img alt="" src="assets/images/blank.gif"
                                     data-echo="assets/images/recent-posts/4.jpg"/>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Gallery Post with Supported Animation</a></h5>
                                <div class="posted-date">July 04 2014</div>
                            </div>
                        </div>
                    </li>

                    <li class="sidebar-recent-post-item">
                        <div class="media">
                            <a href="#" class="thumb-holder pull-left">
                                <img alt="" src="assets/images/blank.gif"
                                     data-echo="assets/images/recent-posts/5.jpg"/>
                            </a>
                            <div class="media-body">
                                <h5><a href="#">Sweet memories in our Store </a></h5>
                                <div class="posted-date">July 01 2014</div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>

        <div class="widget">
            <h4>Popular Tags</h4>
            <div class="body">
                <div class="tagcloud">
                    <a style="font-size: 12pt;" href="#">Beautiful</a>
                    <a style="font-size: 20pt;" href="#">Media Center</a>
                    <a style="font-size: 10pt;" href="#">Quality</a>
                </div>
            </div>
        </div>
    </aside>
</div>