<!-- Подключение базового шаблона -->
{% extends 'super-base.html' %}
<!-- Для подключение деректории static -->
{% load static %}
<!-- Meta данные -->
{% block seo %}
{% endblock seo %}
{% block opengraph %}
{% endblock opengraph %}
{#{% block description %}{% endblock description %}#}
{#{% block title %}{% endblock title %}#}

<meta name="author" content="">
<!-- Подключение стилей -->
{% block style %}
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet"
          type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet"
          type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700'
          rel='stylesheet' type='text/css'>
    <!-- Custom styles for this template -->
    <link href="{% static 'css/agency.css' %}" rel="stylesheet">
{% endblock style %}

{% block body %}

    {% include 'include/nav.html' %}

    {% block header %}
        <header class="header-masthead">
        </header>
    {% endblock header %}

    {% block content %}

    {% endblock content %}

    {% include 'include/footer.html' %}

{% endblock body %}

{% block scripts %}
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Contact form JavaScript -->
    <script src="{% static 'js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'js/agency.min.js' %}"></script>
{% endblock scripts %}
