<!-- Подключение базового шаблона -->
{% extends 'super-base.html' %}
<!-- Для подключение деректории static -->
{% load staticfiles lang_tags contact_tags %}
<!-- Meta данные -->
{% block seo %}
{% endblock seo %}
{#{% block description %}{% endblock description %}#}
{#{% block title %}{% endblock title %}#}

<meta name="author" content="">
<!-- Подключение стилей -->
{% block style %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock style %}
<!-- Тег body -->
{% block body %}
    <main>
        {% block content %}
            <!-- Контент который будет меняться на страницах -->
        {% endblock content %}
        <hr>
        {% contact 'Контакты footer' %}
        <hr>
        {% list_lang %}
    </main>
{% endblock body %}
<!-- Подключение js и т.д. -->
{% block scripts %}
    {#    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>#}
{% endblock scripts %}
