{% load staticfiles seo_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="google-site-verification" content="{% search_system 'google' %}"/>
        <meta name="yandex-verification" content="{% search_system 'yandex' %}"/>
        {#        <meta name="description" content="{% block description %} {% endblock description %}">#}
        {#        <title>{% block title %}aa{% endblock title %}</title>#}
        {% block seo %}
        {% endblock seo %}
    {% endblock meta %}
    {% block style %}

    {% endblock style %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

{% block body %}

{% endblock body %}

{% block scripts %}

{% endblock scripts %}
</body>
</html>